section{
     text-align: center;
     color: #666;
}
section .cwrp{
     min-width: 1240px;
}
nav{
     position: fixed;
     z-index: 900;
     background-color: rgba(255, 255, 255, 0.9);
}
#msg{margin-top: 0;  padding-top: 180px;}

#overview{
     width: 100%;
     height: 500px;
     opacity: 0.85;
     transition: all 0.5s ease;
}
#overview ul{
     height: 100%;
}
#overview ul li{
     margin-right: 60px;
     display: inline-block;
     width: 366px; height: 100%;
     background-color: #fff;
     border: 1px solid rgba(0, 0, 0, 0.2);
     transition: all 0.3s ease;
     opacity: 0.9;
     border-radius: 10px;
}
#overview ul li:first-of-type{background: url(../img/css_1_1.png) no-repeat;background-size: cover;}
#overview ul li:first-of-type:hover{background: url(../img/css_1_2.png) no-repeat;background-size: cover;}
#overview ul li:nth-of-type(2){background: url(../img/css_2_1.png)
no-repeat;background-size: cover; background-position: 0 -2px;}
#overview ul li:nth-of-type(2):hover{background: url(../img/css_2_2.png) no-repeat;background-size: cover;}
#overview ul li:last-child{margin-right: 0; background:url(../img/css_3_1.png) no-repeat; background-size: cover;}
#overview ul li:last-child:hover{background:url(../img/css_3_2.png) no-repeat; background-size: cover;}
section .cwrp > p{
     font-size: 18px;
     font-style: italic;
     margin: 40px 0;
     color: #aaa;
}

.cap{
     margin-top: 150px;
     color: #666;
}
.cap span{
     display: inline-block;
     width: 80px; height: 1px;
     background-color: #afafaf;
     margin-bottom: 150px;
}
.cap h4{
     font-size: 45px;
     margin-bottom: 100px;
     color: #777;
     font-weight: lighter;
}
.cap p{
     font-size: 16px;
     margin-top: 70px;
     line-height: 2rem;
}
.cap p strong{
     font-size: 18px;
     color: #777;
     font-weight: normal;
}
.cap div{
     display: inline-block;
     margin-top: 20px;
     border: 5px solid rgba(1, 1, 1, 0.1);
     opacity: 0.7;
     margin: 0 auto;
     width: 400px; height: 400px;
     border-radius: 400px;
     background: url(../img/css_4_1.jpg) no-repeat;
     -webkit-background-size: cover;
     background-size: cover;
     background-position: -0px 0px;
}
.cap div:nth-of-type(2){
     width: 100px; height: 100px;
     background: url(../img/css_plus.png) no-repeat;
     -webkit-background-size: cover;
     background-size: cover;
     border: none;border-radius: 0;
     margin: 0 50px 150px 50px;
     opacity: 0.2;
}
.cap div:last-of-type{
     background: url(../img/css_4_2.jpg) no-repeat;
     background-position: -50px -15px;
}

iframe{
     width: 500px; height: 500px;
     margin: 0 auto;
     display: block;
     float: left;
     border-radius: 20px;
}
#cap1 p {
     margin-bottom: 150px;
}
#cap2{
     margin-top: 0;
}
#cap2 > div{
     margin-top: 40px;
     width: 600px;
     text-align: left;
     border: 0;

     border-radius: 0;
     background: none;
     float: right;
}

#last{
     clear: both;
}






/**/
