*{padding: 0; margin: 0; transition: all 0.4s ease;}



/*div*/

section div{
     width: 100%; height: 450px;
     margin-top: 4px;
}
section > div:first-of-type{
     /*margin-top: 130px;*/
}
section div:first-of-type .photo{
     width: 100%;
     background: url(../img/main_1_min.jpg) no-repeat fixed;
     background-size: cover;
}
section div:nth-of-type(2) .photo{
     width: 100%;
     background: url(../img/main_3.jpg) no-repeat fixed;
     background-size: cover;
}
section div:nth-of-type(3) .photo{
     width: 100%;
     background: url(../img/main_32.jpg) no-repeat fixed;
     background-size: cover;
}
section div .photo .bgc{background-color: rgba(0, 0, 0, 0.1);}
section div:hover{height: 480px;}
section div:hover .bgc{background-color: rgba(0, 0, 0, 0.7);}
section div:hover .bgc .cwrp *{color: #fff; border-color: #fff;}
section div:hover .bgc .cwrp h4{font-size: 45px;}
section div:hover .bgc .cwrp h4 i{font-size: 40px; opacity: 1;}
section div:hover .bgc .cwrp p:first-of-type{font-size: 17px;}
section div:hover .bgc .cwrp p:last-of-type{font-size: 15px;}
section div:hover .cwrp h4{padding-top: 80px;}

/*txt*/

section .cwrp{color:rgba(0, 0, 0, 0.6)}
section .cwrp *{}
section .cwrp > span{
     margin: 30px 0;
     display: inline-block;
     width: 30px; height: 1px;
     border-top: 1px solid rgba(0, 0, 0, 0.3);
}
section .cwrp > p:first-of-type{font-size: 15px;margin-bottom: 30px;}
section .cwrp > p:last-of-type{font-size: 13px; line-height: 2em;}
section .cwrp > h4{font-size: 40px; padding-top: 75px;}
section > div:nth-of-type(2){text-align: right;}

section div .cwrp i{margin: 0 20px; opacity: 0.5;}

@media screen and (max-width:1380px){
     section div .cwrp *{margin-left: 50px;}
     section div .cwrp i{margin: 0 20px;}
     section div:nth-of-type(2) .cwrp *{ margin-left: 0;margin-right: 50px;}
     section div:nth-of-type(2) .cwrp i{ margin-left: 0;margin-right: 20px;}
}
