/*- - - - - - - - - - - - -- - - - setup and reset*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600');
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);



*{margin: 0; padding: 0;}
html{height: 100%; }
body{font-family: 'Roboto', sans-serif; height: 100%; font-size: 14px; font-weight: lighter; letter-spacing: 0.03em; color: #333; line-height: 2em;}
a{text-decoration: none;    }
li{list-style: none;}
.cwrp{width: 1000px; margin: 0 auto;}
/*- - - - - - - - - - - - - - - - -nav*/
nav{
     width: 40px; height: 40px;
     position: fixed; right: 10px; top: 10px;
     background-color: rgba(255, 255, 255, 0.5);
     z-index: 9999;
}
/*- - - - - - - - - - - - - - - - -header*/
header{
     width: 100%; height: 720px;
     background: url('../img/header.png') no-repeat center;-webkit-background-size: cover;background-size: cover;
     color: #fff; overflow: hidden;
     position: fixed; z-index: -1;
}
header #dark{
     width: 100%; height: inherit; position: absolute;
     background: url('../img/headerdark.png') no-repeat ;
}
header .cwrp{position: relative; }
header h2{
     text-align: center; padding-top: 80px;
     font-size: 21px; font-weight: normal;
     color: rgba(255, 255, 255, 0.9);
}
header .text{margin-top: 200px;}
header h1{
     font-size: 23px; color: rgba(255, 255, 255, 0.4); display: inline-block;

}
header h1 span{display: inline-block;}
header h1 strong{
     font-size: 63px; line-height: 53px; color: #fff; display: inline-block;}
header p{margin-top: 10px; line-height: 23px; display: inline-block;}
#test{
     width: 100%; height: 720px;
}
/*- - - - - - - - - -- - - - - - - gallery section*/
#sec1{background-color: #fff; padding-bottom: 110px; }
#sec1 .cwrp{position: relative; }
#gallery{width: 750px;display: inline-block;}
#gallery > div:first-child{padding: 70px 0;}
#gallery > div:last-child{width: 100%; height: 510px;}
#gallery h3{
     font-size: 30px; font-weight: 300; width: 130px;  line-height: 50px;float: left; height: 56px;}
#imgbox > ul{width: 100%; height: 100%;}
#imgbox > ul > li{float: left; height: 100%; }
#imgbox > ul > li:first-child{width: 43%;}
#imgbox > ul > li:first-child > ul{height: 100%;}
#imgbox > ul > li:first-child > ul > li{width: 100%;}
#imgbox > ul > li:first-child > ul > li:first-child{
     height: 40%; background: url('../img/gallery_1.png') no-repeat;-webkit-background-size: cover;background-size: cover;}
#imgbox > ul > li:first-child > ul > li:last-child{
     height: 60%;background: url('../img/gallery_2.png') no-repeat center ;-webkit-background-size: cover;background-size: cover;}
#imgbox > ul > li:last-child{width: 57%; background-color: #ddd;}
#imgbox > ul > li:last-child > ul{width: 100%; height: 100%;}
#imgbox > ul > li:last-child > ul > li:first-child{
     height: 52%; background: url('../img/gallery_3.png') no-repeat;-webkit-background-size: cover;background-size: cover;}
#imgbox > ul > li:last-child > ul > li:last-child{height: 48%;}
#imgbox > ul > li:last-child > ul > li:last-child > ul{width: 100%; height: 100%;}
#imgbox > ul > li:last-child > ul > li:last-child > ul > li{height: 100%; float: left;}
#imgbox > ul > li:last-child > ul > li:last-child > ul > li:first-child{width: 44%; background-color: #ddd;}
#imgbox > ul > li:last-child > ul > li:last-child > ul > li:first-child > ul{height: 100%;}
#imgbox > ul > li:last-child > ul > li:last-child > ul > li:first-child > ul > li:first-child{
     height: 45%; background: url('../img/gallery_5.png') no-repeat;-webkit-background-size: cover;background-size: cover;}
#imgbox > ul > li:last-child > ul > li:last-child > ul > li:first-child > ul > li:last-child{
     height: 55%;background: url('../img/gallery_6.png') no-repeat;-webkit-background-size: cover;background-size: cover;}
#imgbox > ul > li:last-child > ul > li:last-child > ul > li:last-child{
     width: 56%;background: url('../img/gallery_4.png') no-repeat;-webkit-background-size: cover;background-size: cover;}
.hovercontent{text-align: center; position: relative; top: 50%; display: none;/*color: #d3d;*/}
.hovercontent a{
     display: inline-block; margin-top: -30px;font-size: 18px;border: 1px solid #fff; color: #fff;padding: 10px 40px;}
#sideimg{
     width: 230px; height: 800px;
     position: absolute; right: 0; bottom: 0;
     background:url('../img/gallery_7.png') no-repeat center;-webkit-background-size: cover;background-size: cover;
}
/*- - - - - - - - - - - - - - - -section 2*/
#sec2{
     height: 380px; color: #fff;
     overflow: hidden;
     background: url('../img/sec2.png') no-repeat center;-webkit-background-size: cover;background-size: cover;

}
#sec2 .cwrp > div{
     width: 700px; margin: 0 auto; padding: 110px 0 100px 0;
     text-align: center;
     word-break: break-all;
}
#sec2 h3 a{
     display: inline-block;
     font-size: 23px; padding: 5px 15px; font-weight: 100;
     border: 1px solid #fff; color: #fff;
}
#sec2 p{margin-top: 32px; font-weight: lighter;}
/*- - - - - - - - - - - - - - - -section 3*/
#sec3{
     word-break: break-all; background-color: #fff; padding: 75px 0 110px 0;}
#sec3 h3{
     font-size: 30px; font-weight: 300; text-align: center; margin-bottom: 73px;}
#sec3 .cwrp > dl dt{font-size: 30px; font-weight: 300;}
#sec3 .cwrp > dl dd{margin: 20px 0 40px 0}
#sec3 .cwrp > ul{width: 100%; height: 85px;  background-color: #f5f5f5; border-radius: 5px;}
#sec3 .cwrp > ul > li{
     width: 25%; float: left; ;
     padding: 15px 0 10px 0;
     text-align: center;
}

#sec3 .cwrp > ul > li > dl > dt{margin-top: 5px;font-size:28px; font-weight: 500;;}
#sec3 .cwrp > ul > li > dl > dd{font-size:17px; font-weight: normal;}
/*- - - - - - - - - - - - - - - -section 4*/
#sec4{
     background:url('../img/sec4.png') no-repeat center;
     background-attachment: fixed;
     -webkit-background-size: cover;
     background-size: cover; color: #fff;
     height: 1080px;
}
#sec4 .cwrp{}
#sec4 .cwrp > div:first-child{
     width: 700px; margin: 0 auto;
     padding: 110px 0 100px 0;
     text-align: center;
     word-break: break-all;
}
#sec4 h3 a{
     display: inline-block;
     font-size: 23px; padding: 5px 15px; font-weight: 100;
     border: 1px solid #fff; color: #fff;
}
#sec4 p{margin-top: 32px; font-weight: lighter;}
#sec4 .cwrp > div:last-of-type{
     width: 780px; height: 440px;  margin: 0 auto;
     background-color: #2c2c2c;
     position: relative;
     box-shadow: 0 0 20px rgba(0, 0, 0,0.4);
     opacity: 0.7;
     transition: 0.3s all ease;
     cursor: pointer;
}
#sec4 .cwrp > div:last-of-type:hover{
     opacity: 1;
}
#sec4 .cwrp > div:last-of-type span{
     width: 49px; height: 49px; display: inline-block;
     position: absolute; left: 50%; top: 50%; margin-left: -24px; margin-top: -24px;
     background: url('../img/play.png') no-repeat;
}
#sec4 .cwrp > h2{
     text-align: center; margin-top: 100px;
     font-weight: normal; font-size: 21px;
     color: rgba(255, 255, 255, 0.89);
}
/* - - - - - - - - - - - - - - - -footer*/
footer{
     font-family: "Noto Sans KR", sans-serif;
     background-color: rgba(0, 0, 0, 0.2);
     position: relative; bottom: 68px;
     color: rgba(255, 255, 255, 0.5);

}
footer a{
     display: inline-block;
     color: rgba(255, 255, 255, 0.5);
}
footer a:hover{
     color: rgba(255, 255, 255, 1);
}
footer ul{
     width: 100%;
     padding: 20px 0;
     text-align: center;
}
footer ul li{
     width: 498px;
     display: inline-block;
}
