@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/earlyaccess/nanumgothic.css');
*{
  margin: 0; padding: 0;
}
html{
  height: 100%;
}
body{
  font-family: 'Press Start 2P', cursive, 'Nanum Gothic', sans-serif;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  height: 100%;
}
li{
  list-style: none;
}
.cwrp{
  border-radius: 20px;
  text-align: center;
  width: 100%; height: 100%;
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
}
h1{
  margin: 5% 0;
  font-size: 40px;
  line-height: 1.2em;
}
h1 p:first-child{
  color: #9ad5ff;
}
.blank{
  opacity: 0;
}
.rank_ul{
  /*background-color: #ddd;*/
}
.rank_item{
  width: 100%; height: 5%;
  box-sizing: border-box;
  margin: 10px 0 ;
}
.rank_item:first-child{
  color: #ff4b4b;
}
.rank_item:nth-of-type(2){
  color: #ffed45;
  text-shadow: 0 0 20px rgb(0, 232, 255);
}
.rank_item:nth-of-type(2) .item_stand{
  position: relative;
}
.rank_item:nth-of-type(2) .item_stand::before{
  position: absolute; top: -3px; left: 5%;
  content: '';
  display: inline-block;
  width: 30px; height: 100%;
  background: url(../120.png) no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}
.rank_item:nth-of-type(3){
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.6);
}
.low_item{
  color: rgba(255, 255, 255, 0.7);
}

.inner_ul{
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
}
.inner_item{
  width: 33.33%;
  font-size: 22px;
}
.item_name{
  position: relative;
  bottom: 4px;
  font-family: 'Nanum Gothic', sans-serif;
}
.rank_item:first-child .item_name{
  bottom: 0;
}
.bg{
  overflow: hidden;
  box-sizing: border-box;
  width: 100%; height: 100%;
  z-index: 1;
  object-fit: cover;
  filter: blur(5px);
}
.bg video{
  object-fit: cover;
  width: 100%; height: 100%;
}
.bgdark{
  width: 100%; height: 100%;
  position: absolute;
  background-color: rgba(0, 35, 89, 0.7);
}


@media screen and (max-width:580px){
  h1{
    font-size: 30px;
  }
  .inner_item{
    font-size: 16px;
  }
  .rank_item:nth-of-type(2) .item_stand::before{
    left: 0;
  }
}
@media screen and (min-width:1050px){
  h1{
    font-size: 60px;
  }
  .inner_item{
    font-size: 26px;
  }
  .rank_item:nth-of-type(2) .item_stand::before{
    left: 15%;
  }
}
